*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#000;
    background: linear-gradient(115.66deg, #E09EB4 2.2%, #E2D0D0 100%);
    font-style: normal;
    font-weight: 600;
    min-height: 100vh;

}
h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 50px;

  }

  h3 {
    font-family: 'EB Garamond', serif;
    font-size:2.2rem;
line-height:2.5rem;
color: #000;
margin-bottom:2em;

}
  header {
    background: #461952;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .hamb-icon {
    color: #FFF;
    font-size: 24px;
    display: inline-block;
    margin: 15px;
  }
  .profile {
    text-align: right;
    padding-top: 1.2em;
    position: relative;
    margin: 0 2em;
}
.profile img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-top: 0%;
}
.profile .h-icon {
    background: #FFF;
 border-radius: 50%;
 width: 1.8em;
 color: #461952;
 line-height: 1.8em;
 height: 1.8em;
 display: inline-block;
 text-align: center;
 font-size: 1em;
 }

 .btn {
  height: 49px;
box-shadow: 0px 0px 5.24px 3.93px rgba(0, 0, 0, 0.25);
border-radius: 6.55px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
color: #FFF;
padding: 12px 56px;
border:none;
}
.btn.no-shadow {
  box-shadow: none;
}
.btn-sm {
  height: 38px;
  padding: 8px 20px;
}
.btn-primary{
  background: #461952;
}
.btn-default {
  background: #B8BBC6;
}
.btn-secondary {
  background: #FF5BFF;
box-shadow: 0px 0px 5.24px 3.93px rgba(0, 0, 0, 0.25);
border-radius: 6.55px;
}
.btn-danger {
  background: linear-gradient(94.51deg, #FA6296 3.62%, #FF8BA1 100%);
box-shadow: 0px 0px 5.24px 3.93px rgba(0, 0, 0, 0.25);
border-radius: 6.55px;
}
.btn-info {
  background: linear-gradient(94.51deg, #5E4DF1 3.62%, #8B6EF1 100%);
box-shadow: 0px 0px 5.24px 3.93px rgba(0, 0, 0, 0.25);
border-radius: 6.55px;
}
.btn-success {
  background: linear-gradient(94.51deg, #2DAD80 3.62%, #4AC699 100%);
box-shadow: 0px 0px 5.24px 3.93px rgba(0, 0, 0, 0.25);
border-radius: 6.55px;
}

.btn-red {
  background: linear-gradient(180deg, #FF0BB8 0%, #FF4518 100%);
border-radius: 26.0586px;
font-size: 12px;
}
.wed-btn-main {
  background: #7F004B;
border-radius: 26.0586px;
font-size: 12px;
padding-left: 30px;
padding-right: 30px;
}
.no-btn-bg {
  background: #FFF;
  color:#FF0BB8;
}
.btn.btn-xs {
  background: #E7E2E2;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 10px;
  border-radius: 27.7433px;
  padding: 2px 8px;
  height: auto;
  color: #000000;
}
.fb-btn {
  background: #395185;
}


