html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #E09EB4 !important;
  background-image: url(../img/backimage.png);
}

/* .wed-top-nav */
header.wed-top-nav-color {
  background-color: #461952;
}

ul.wed-top-nav {
  list-style-type: none;
  background-color: #461952;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul.wed-top-nav li a {
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /*display: inline-block;       
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 2em;
    height: 2em;
    margin-top: 1em;  */
}

ul.wed-top-nav li i {
  font-size: 1.2em;
  margin: 0.3em;
}

ul.wed-top-nav i {
  color: #461952;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

ul.wed-top-nav a#profile img {
  width: 2em;
  height: 2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0px;
}

.wed-top-nav a#profile:hover {
  background-color: #007bb7;
}

.wed-top-nav a#hostsignin:hover {
  background-color: #007bb7;
}

.wed-top-nav a#signin:hover {
  background-color: #3B5998;
}

.wed-top-nav a#signout:hover {
  background-color: #F56505;
}

.wed-top-nav a.profile:hover i,
.wed-top-nav a.hostsignin:hover i,
.wed-top-nav a.signin:hover i,
.wed-top-nav a.signout:hover i {
  color: #fff;
}

.wed-top-nav li:hover,
.triggeredHover {
  background-color: #3B5998;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.wed-top-nav-right {
  display: flex;
}

.wed-top-nav-right li {
  background-color: #DBD4D4;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  cursor: pointer;
}

.wed-top-nav-right li img {
  height: 1.5em;
  margin-left: 0.3em;
}

.wed-logo {
  margin-top: 0;
  padding: 0;
}

/* wedtheme css*/
/* a links */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}


/* .guest-invitation-nav slider */

.guest-invitation-nav .splide__arrow {
  font-size: 1.5em;
  position: absolute;
  margin-top: -11.7em;
}

/* media queries */

/* mobile first media queries */
@media all and (min-width: 350px) {

  .wed-top-nav-right {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}

nav.logistics button {
  padding: 0 2.5em;
  margin-top: 0 1em;
  border-radius: 2em;
}



.top-nav {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 30px;
}

.top-nav>li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px 40px;

  align-items: center;
}

.top-nav .active {
  color: #fff;
  border-radius: 40px;
  background: #461952;
}

.middle-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bg-yellow {
  background-color: rgba(252, 150, 17, 1.0);
}

.invited-box {
  width: 20%;
  height: 20%;
  border-radius: 22px;
  padding: 20px 10px;
  margin-right: 1em;
}

.invited-box-right {
  width: 25%;
  height: 20%;
  border-radius: 22px;
  padding: 20px 25px;
  margin-right: 1em;
}

.invited-box-cal {
  width: 30%;
  height: 20%;
  border-radius: 22px;
  margin-right: 1em;
}

.invited-box-right .time-schedule {
  display: flex;
  justify-content: space-between;
}

.invited-box h5 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.count {
  padding: 0.5em 1em;
  margin: 0.55em;
  border: 0.1em solid#fff;
  background: #e0ad6b;
}

.count .inner-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count .inner-table h5 {
  color: #000;
}


.invited-box h5 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

/* .invited-box-right  */

.date {
  background: #fff;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
}

.color-pink {
  color: #80154A;
  font-weight: 600;
}

.pink-box {
  background-color: #a98192;
  border-radius: 20px;
  margin-top: -18px;
}

.name-title {
  color: #d9b227;
  font-family: cursive;
  padding: 20px 0;
}

.vanue {
  color: #fff;
}


.actions-icon {
  background-color: #7f004b;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
}

.actions-icon img {
  width: 25px;
  cursor: pointer;
}

.new-box {
  background-color: #80154A;
  width: 250px;
  padding: 11px 24px 29px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.green-calendar {
  background-color: #4DA24B;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: inset 0px 3px 1px #0004;
}

.green-calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  color: #fff;
}

.green-calendar .calendar-header h5 {
  font-size: 1.5em;
}

.green-calendar .calendar-header svg {
  cursor: pointer;
}

.table-box {
  padding: 0 1em;
  font-size: 0.8em;
}

.table-box th {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  border: none;
}

.table-box td {
  color: #fff;
  text-align: center;
}

.notifications {
  background-color: #E74343;
  width: 20%;
  padding: 0.em;
  border-radius: 20px;
  color: #fff;
  box-shadow: 1px 1px 13px 1px #0004;
  z-index: 3;
}

div.noted:hover {
  background-color: tomato;
}

.notifications h5 {
  font-size: 1.2em;
}

.notifications ul li img {
  width: 40px;
}

.notifications ul li {
  padding: 5px;
}

/*  .wed-top-nav-items a#notification:hover {
  background-color: #F56505;
}

.wed-top-nav-items a#livestreaming:hover {
  background-color: #33ccff;
}

.wed-top-nav-items a#profile:hover {
  background-color: #007bb7;
}

.wed-top-nav-items a#signin:hover {
  background-color: #3B5998;
}

.wed-top-nav-items a#signout:hover {
  background-color: #F56505;
}

.wed-top-nav-items a.notification:hover i,
.wed-top-nav-items a.livestreaming:hover i,
.wed-top-nav-items a.profile:hover i,
.wed-top-nav-items a.signin:hover i,
.wed-top-nav-items a.signout:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

/* .fa { font-size: 15px; }
.wed-top-nav-items-shape li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 2em;
  height: 2em;
  margin-top: 1em;

}

.wed-top-nav-items-shape li i {
  margin: 0;
  line-height: 2em;
  text-align: center;
}

.wed-top-nav-items-shape li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.wed-top-nav-items-shape i {
  color: #461952;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.wed-top-nav-item {
  background-color: #fff;
} */

/* 
.icon-color {
  background-color: #fff;
  color: #461952;
} */

/* 
.tab .nav-tabs{
background-color: #fff;
padding: 0 0 1px;
margin: 0 0 10px;
border: none;
border-radius: 2.5em;
box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.15);
} */

.tab .nav-tabs li a {
  color: #555;
  background: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0 0.3em 0 0;
  border: none;
  border-radius: 2.5em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.3s;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover {
  color: #fff;
  background: #461952;
  border: none;
}

.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after {
  content: "";
  color: red;
  border-radius: 2.5em;
  opacity: 0.3;
  transform: scaleX(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease 0s;
}

.tab .nav-tabs li a:after {
  background-color: #7A10EB;
  transform: scaleX(0);
  transition: all 0.4s ease 0.2s;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before {
  opacity: 0;
  transform: scaleX(1);
}

.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after {
  opacity: 1;
  transform: scaleX(1);
  background: linear-gradient(to right, #1890E0, #7A10EB);
}

.tab .tab-content {
  color: red;
  background-color: #fff;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  padding: 1.2em;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.15);
  border-radius: 1.2em;
  position: relative;
}



/* media queries */

/* mobile first media queries */
@media all and (min-width: 350px) {

  .tab .nav-tabs {
    padding: 0;
    border-radius: 1.3em;
  }

  .tab .nav-tabs li {
    width: auto;
    text-align: center;
    margin: 0 0 0.2em;
  }

  .tab .nav-tabs li a {
    font-size: 1.1em;
    line-height: 0.2em;

  }

  .tab .nav-tabs li:last-child {
    margin-bottom: 0;
  }

  .tab .nav-tabs li a {
    margin: 0.5em;
  }
}




/* desktop media queries */

@media only screen and (min-width:768px) {





  /*  .tab .nav-tabs li a {
    font-size: 1.2em;
    line-height: 0.1em;
} */
}





/* old css */


/* 
@media (min-width: 767) and (max-width: 991px) {
  .width-50 {
    width: 50% !important;
  }

  .margin-top-30 {
    margin-top: 30px;
  }
} */
/* 
@media (max-width: 991px) {
  .invited-box-right .time-schedule {
    flex-wrap: wrap;
    justify-content: center;
  }

} */
/* 
@media (max-width: 767px) {

  .width-100 {
    width: 50% !important;
  }

  .content-box {
    padding: 10px;
  }

  .invited-box-right {
    margin-top: 10px;
  }

  .green-calendar {
    margin-top: 20px;
  }

  .notifications {
    width: 50%;
  }

  .list-icon {
    margin: 14px auto 0;
  }
} */
